<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>School Received Degree From</th>
    <th>Years in Practice</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.address %></td>
        <td><%= user.city %></td>
        <td><%= user.state %></td>
        <td><%= user.zip %></td>
        <td><%= user.school_received_degree_from %></td>
        <td><%= user.years_in_practice %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>